{% extends 'base.html' %} 

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block content %}
<div>

  <h2>Edit your profile</h2>
  
  <form method="post">
    {% csrf_token %}
    <p>{{ form.username.label }}: {{ form.username }} </p>
    <p>{{ form.email.label }}: {{ form.email }} </p>
    <p>{{ form.first_name.label }}: {{ form.first_name }} </p>
    <p>{{ form.last_name.label }}: {{ form.last_name }} </p>
    <button type="submit">Save</button>
  </form>
  
</div>
{% endblock content %}
