<!DOCTYPE html>
<html>
<head>
    {% block title %}

    {% endblock title %}
    
</head>
<body>
    <h1>EVENTS</h1>

    <div>
        {% if user.is_authenticated %}
        <a href="/accounts/logout/">LOG OUT</a>
        {% else %}
        <a href="/accounts/login/">LOG IN</a>
        {% endif %}
    </div>
	
    {% block content %}
    
    {% endblock content %}
</body>
</html>