{% extends 'base.html' %}
{% block title %}
<title>DELETE EVENT?</title>
{% endblock title %}

{% block content %}
	<h2>Following events with ALL runs will be DELETED!</h2>
	<h2>{{ selected_event.name }}</h2>
	<ul>
		<li> LOCATION: {{ selected_event.location }}</li>
		<li> DESCRIPTION: {{ selected_event.description }}</li>
		<li> CATEGORY: {{ selected_event.category }}</li>
	</ul>
	<h2>Event Runs</h2>
	<ul>
	{% for each_run in selected_event_runs %}
	<li>HAPPENS ON: {{ each_run.happens }} SEATS AVAILABLE: {{ each_run.seats_available }} PRICE: {{ each_run.price }}</li>
	{% endfor %}
	</ul>
	<form method="post">
	  {% csrf_token %}
    <button type="submit">DELETE</button>
  </form>
{% endblock content %}
