{% extends 'base.html' %}
{% block title %}
<title>Event Listing</title>
{% endblock title %}

{% block content %}
    <ul>
    {% for event_run in event_runs %}
    <li>EVENT: {{ event_run.event.name }} HAPPENS: {{ event_run.happens }} SEATS AVAILABLE: {{ event_run.seats_available }} PRICE: {{ event_run.price }}</li>
    {% endfor %}
    </ul>
{% endblock content %}
