{% extends 'base.html' %}
{% block title %}
<title>Event Runs Listing</title>
{% endblock title %}

{% block content %}
    <ul>
    {% for event in events %}
    <li><a href='{{ event.id }}'>{{ event.name }}</a> LOCATION: {{ event.location }} DESCRIPTION: {{ event.description }}</li>
    {% endfor %}
    </ul>
{% endblock content %}
