{% extends 'base.html' %}
{% block title %}
<title>Events</title>
{% endblock title %}

{% block content %}
	<h2>Update Event</h2>
	<form method="post">
	  {% csrf_token %}
      {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
{% endblock content %}