{% extends 'base.html' %}
{% block title %}
<title>Events</title>
{% endblock title %}

{% block content %}
	<h2>Welcome to my Events page</h2>
	<a href=/events>Click here to see the Events.</a>
{% endblock content %}