{% extends 'base.html' %}
{% block title %}
<title>My Events</title>
{% endblock title %}

{% block content %}
    <ul>
    {% for event in my_events %}
    <li><a href='/events/{{ event.id }}'>{{ event.name }}</a> LOCATION: {{ event.location }} DESCRIPTION: {{ event.description }}</li>
    {% endfor %}
    </ul>
{% endblock content %}
